<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/stylesIndex.css" >
  <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/js/app.js" type="text/javascript"></script>
  <!-- <script src="/js/scriptIndex.js" type="text/javascript"></script> -->
  <title>Players</title>
</head>
<body>
  <!-- Begin body; start nav -->
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <!-- <li role="presentation"><a href="/login">login</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">Init Page</h3>
      </div>
      <!-- End nav; start jumbo -->
      <div class="jumbotron">
          <div class="row">
              {% for player in players %}
              <div class="col-sm-3">
                <div class="stats">
                  <h3>{{ player.getName }}</h3>
                  <p>Hit Points: {{ player.getHp }}</p>
                  <p>AC: {{ player.getAc }}</p>
                  <p>Init: {{ player.getInit }}</p>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>

      <div class="row">
        <ul class="initlist">
          {% for player in players %}
            <li id="{{player.getId}}">{{player.name}}</li>
          {% endfor %}
        </ul>
        <button class="btn btn-primary" id="next">Next</button>

        <!-- <form action='/redirect' method='post'>
            {% for player in players %}
            <div class="col-sm-12">
                <label for='name'>{{player.name}}:</label>
            </div>
            {% endfor %}
            <button class="btn btn-danger" type='submit'>Next</button>
        </form> -->
      </div>
    </div>
</body>
</html>
