<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/stylesIndex.css" >
  <link rel="stylesheet" href="/css/init.css" >

  <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/js/app.js" type="text/javascript"></script>
  <!-- <script src="/js/scriptIndex.js" type="text/javascript"></script> -->
  <title>Players</title>
</head>
<body>
  <!-- Begin body; start nav -->
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right collapse navbar-collapse">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/add_npcs">Add NPCs</a></li>
            <li role="presentation" class="active"><a href="/enemies">Enemies</a></li>

            <!-- <li role="presentation"><a href="/login">login</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">Init Page</h3>
      </div>
      <!-- End nav; start jumbo -->
      <div class="jumbotron">
          <div class="row">
              {% for player in players %}
              <div class="col-sm-3" id={{player.id}}>
                  <a href="/character/{{ player.getName }}"><h3>{{ player.getName }}</h3></a>
                  <div class="stats">
                      <p>AC: {{ player.getAc }}</p>
                      <p>Init: {{ player.getInit }}</p>
                      <form class="" action="/" method="post">
                        <p>Hit Points: </p>
                        <input type="text" name="" value="{{ player.getHp }}">
                        <button class="btn btn-primary" id="{{ player.id }}" type="button" name="button">Update</button>
                      </form>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <h4>Initaltive list:</h4>
          <ul class="initlist">
            {% for turn in order %}
            <span class="peoplespan">
              <li id="{{turn.getId}}" class="{{turn.getInit}}">{{turn.name}}</li>
              {% if turn.enemy == true %}
                <button class="btn btn-danger delete" id="delete" name="button">X</button>
              {% endif %}
            </span>
            {% endfor %}
          </ul>
          <button class="btn btn-primary" id="next">Next</button>
        </div>

        <div class="col-sm-4">
          <h4>Turn: </h4>
          <h1 id="turn"></h1>
        </div>
      </div>
      <div class="jumbotron">
          <div class="row">
              {% for enemy in enemies %}
              <div class="col-sm-3" id={{enemy.id}}>
                  <a href="/character/{{ enemy.getName }}"><h3>{{ enemy.getName }}</h3></a>
                  <div class="stats">
                      <p>AC: {{ enemy.getAc }}</p>
                      <p>Init: {{ enemy.getInit }}</p>
                      <form class="" action="/" method="post">
                        <p>Hit Points: </p>
                        <input type="text" name="" value="{{ enemy.getHp }}">
                        <button class="btn btn-primary" id="{{ enemy.id }}" type="button" name="button">Update</button>
                      </form>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <script src="../js/vueapp.js" ></script>
</body>
</html>
